html, body
    height 100%

.content
    min-height 100%

    &:after
        content ""
        display block
        clear both
    &__list
        margin-left 200px
        overflow hidden
        float left
        width 540px
        min-height 100%
        border-left 1px solid #e5e5e5
    &__current-operation
        overflow hidden
        float left
        width 500px