.content
    &:after
        content ""
        display block
        clear both
    &__list
        margin-left 240px
        overflow auto
        float left
        width 541px
        border-left 1px solid #e5e5e5
    &__current-operation
        overflow auto
        float left
        width 500px