.CreateCategoryForm
    &__form
        padding: 20px
    &__footer
        margin: 0
        background: #fafafa
        padding: 20px
        border: 1px solid #e5e5e5
        border-right: none
        border-left: none