.CreateCategory
    width: 558px
    float: left
    border-right: 1px solid #e5e5e5
    &__parent-box
        margin: 0
        &__heading
            display: block
            margin: 0
            background: #fafafa
            padding: 12px 20px
            border-bottom: 1px solid #e5e5e5