.DashboardListHeading
    display block
    background #fafafa
    height 66px
    border-bottom 1px solid #e5e5e5
    &__container
        padding 20px
    &__search-input
        width 150px
    &__actions
        display inline-block
        margin-left 40px