.DashboardItem
    background-color #fff
    padding 17px 20px 17px 25px
    border-bottom 1px solid #ccc
    position relative
    padding-left 75px
    min-height 24px + 50px
    box-sizing border-box
    display block
    text-decoration none

    &__image:not(:empty)
        position absolute
        left 15px
        top 12px
        width 50px
        height 50px
        border 1px solid #aaa
        border-radius 3px
        background-color #f6f6f6
        overflow hidden
        &__pic
            width 50px
            height 50px

    &__headline
        display inline-block
        font-size 20px
        line-height 27px
        margin-bottom 2px
        max-width 450px
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
        &__info
            display block
            font-size 11px
            color #555
            line-height 12px
            &__label
                position absolute
                right 27px
                top 33px
                white-space nowrap
                padding 1px 3px 2px
                font-size 9.75px
                font-weight bold
                color #ffffff
                text-transform uppercase
                border-radius 3px

                &--active
                    background-color #468847
                &--inactive
                    background-color #860807
                &--semi
                    background-color #999999

