.EditCategoryForm
    &__form
        display: block
        padding: 20px
        &__radio-label
            display: inline-block
    &__footer
        margin: 0
        background: #fafafa
        padding: 20px
        border: 1px solid #e5e5e5
        border-right: none
        border-left: none
    &__controls
        &__list
            display: block
            overflow: hidden
            position: relative
            list-style: none
            margin: 0 0 20px 0
            padding: 0
            &__item
                float: left
                line-height: 18px
                &__link
                    display: block
                    border: 1px solid #e5e5e5
                    margin: 1px 10px 1px 0
                    padding: 5px 10px
                    font-size: 12px
                    border-radius: 5px
                    color: #0088cc
                    background-color: #fff
                    line-height: 1
                    &:hover
                        color: #fff
                        background-color: #0088cc
                        border: 1px solid #0088cc
                    &--active
                        color: #fff
                        background-color: #0088cc
                        border: 1px solid #0088cc
        &:after
            display: block
            clear: both