.menu
    background: rgb(37, 42, 58)
    width: 200px
    height 100%
    position: fixed
    top: 0
    left: 0
    &__nav
        display: block
        &__list
            list-style: none
            padding: 0
            &__item
                &:hover
                    background: rgb(55, 60, 90)
                &__link
                    display: block
                    color: #999
                    text-decoration: none
                    padding: 10px 10px 10px 20px
                    &:hover
                        color: #fff