.ProductForm
    display block
    overflow auto
    &__label
        display block
        overflow hidden
        padding 0 20px
        &__description
            display block
            width 140px
            font-size 12px
    &__row
        overflow hidden
        &before
            display block
            content ""
        &__left
            float left
        &__right
            float left
            margin-left 20px
    &__footer
        background #fafafa
        padding 20px
        border-top 1px solid #e5e5e5
        border-bottom 1px solid #e5e5e5