.CartBody
    width 1160px
    margin 0 auto
    padding 20px
    &__heading
        font-family 'Roboto Condensed','Arial Narrow'
        display block
        font-size 40px
        margin 20px 0
    &__total
        margin 40px 0
        display block
        font-family 'Roboto Condensed','Arial Narrow'
        font-size 24px
        padding-left 10px
.CartBodyTable
    &__image
        width 60px
    &__name
        width 300px
    &__quant-sel
        width 160px
    &__price
        width 100px
.CartTHeading
    font-family 'Roboto Condensed','Arial Narrow'
    font-size 14px
    color #666
    & td
        padding 0 10px
.CartElement
    & td
        padding 0 10px
    &__link
        color #000
        font-family 'Roboto Condensed','Arial Narrow'
        font-size 20px
    &__quant-sel
        width initial
        -webkit-appearance none
        border 1px solid #000
        padding 8px 30px 8px 12px
        border-radius 0
        background-color #fff
        background-image url("/i/arrow_down.svg")
        -webkit-background-size 12px
        background-size 12px
        background-position 80%
        outline none
        background-repeat no-repeat
        line-height 1
        height 40px
        font-size 16px
        margin 0
    &__price
        color #000
        font-size 20px
    &__delete-label
        width 20px
        height 20px
        display inline-block
        padding-top 5px
        cursor pointer
        &__hidden-input
            display none
        &__fake-tapper
            display inline-block
            width 20px
            height 20px
            background url("/i/cross.svg")
            background-size 18px
            background-position center
            opacity .3
.CartButtons
    margin-top 20px
    &__item
        display inline-block
        border 1px solid #000
        padding 8px 20px
        margin-left 10px

