.Panno
    height 420px
    width 100%
    overflow hidden
    &__image
        display block
        position relative
        transform translate3d(-250px, 0, 0)
        top -420px
    &__darker
        display block
        top -840px
        position relative
        background #000
        opacity .4
        height 420px
    &__container
        display block
        position relative
        height 420px
        width 1160px
        margin 0 auto
        z-index 1
        &__heading
            padding 50px 0 0 0
            display block
            font-size 70px
            color #fff
            font-family 'Roboto Condensed'
            text-transform uppercase
        &__text
            display block
            font-size 20px
            color #fff
            margin 40px 0
            width 400px
