.Product
    width 1160px
    padding 20px
    margin 0 auto
    &__top
        overflow hidden
        margin-bottom 20px
        &__left
            width 500px
            float left
            margin-right 40px
        &__right
            float left
            width 620px
            &__small-description
                display block
                font-size 14px
                font-family 'Roboto Condensed','Arial Narrow'
                color #666
                text-transform uppercase
            &__title
                display block
                font-size 30px
                margin-top -3px